*{
    margin: 0;
    padding: 0;
    color: orange;
}
#main{
    display: flex;
    flex-direction: row;
    background-color: rgb(76, 74, 74);
}
#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 5vw;
}
#chat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}
#topbar{
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    font-weight: bolder;
}
button{
    width: 50%;
    height: 5%;
    border-radius: 50%;
    background-color: rgb(57, 56, 56);
    margin-top: 2vh;
}
.messages{
    background-color: rgb(57, 56, 56);
    height: 80vh;
    padding: 2vw;
    padding-bottom: 0;
    text-wrap: balance;
    overflow: scroll;
}
.message{
    margin-bottom: 0.3vh;
    
}
.text-input{
    width: 90vw;
    height: 5vh;
    background-color: rgb(57, 56, 56);
}